/* helper */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.width100 {
    width: 100%;
}
.width50{
    width: 50%;
}
.widht30 {
    width: 30%;
}

.heigt100{
    height: 100%;
}

.bgColor1 {
    background-color:#B5DDFF;
}
.bgColor2 {
    background-color:#0084FD ;
    
}
.bgColor3 {
    background-color: #9792E4;
}
.bgColorWhite {
    background-color: white;
}
.bgColorLightBlack {
    background-color: #222 ;
}
.color1 {
    color: #B5DDFF ;
}
.color2 {
    color: #0084FD;
}
.color3 {
    color: #9792E4;
}
.colorGray{
    color: #555;
}
.colorWhite {
    color: white;
}
.colorYellow{
    color: gold;
}

.flex {
    display: flex;
}

.flexShrink3 {
    flex-shrink: 3;
}
.column {
    flex-direction: column;
}

.justifyContentCenter {
    justify-content: center;
}

.justifyContentSpaceBetween{
    justify-content: space-between;
}

.alignItemCenter {
    align-items: center;
}

.gap2Rem {
    gap: 2rem;
}
.margin1Rem{
    margin: 1rem;
}
.margin1RemAuto{
    margin: 1rem auto;

}
.marginRight1Rem {
    margin-right: 1rem;
}
.marginTop3rem {
    margin-top: 3rem;
}
.marginBottom3Rem {
    margin-bottom: 3rem;
}
.marginTop0 {
    margin-top: 0 !important
}
.paddingBottom0 {
    padding-bottom: 0 !important;
}
.paddingBottom3Rem {
    padding-bottom: 3rem !important;
}
.padding1Rem {
    padding: 1rem;
}
.padding1Rem2Rem {
    padding: 0.5rem 2rem;
}

.padding2Rem {
    padding: 2rem;
}

.paddingY4rem {
    padding: 4rem 0;
}
.paddingTop0 {
    padding-top: 0 !important
}

.borderRadius25{
    border-radius: 25px;
}
 
.fontSize1_2Rem{
    font-size: 1.2rem;

}

.fontSize6Rem {
    font-size: 6rem;
}

.textAlignCenter {
    text-align: center;
}

.circleButton {
    margin-top: 2rem;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
}

.circle {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}


/* header */

nav {
    width: 100%;
    padding: 1rem 4rem;
    position: fixed;
    top: 0;
}

.tendina {
    font-size: 2rem;
}


/* main */

main {
    margin-top: 120px;
}
main button {
    border-color: #0083fd00;
}

main img {
    display: block;
}

.bgImgTestimonial1{
    background-image: url(../img/testimonial1.jpg);
    background-position: center;
    background-size: 150%;
    margin-bottom: 2rem;
}



/* footer */
footer button {
    border-color: rgba(255, 255, 255, 0);
}

footer .big {
    font-size: 4rem ; 
}

/* tablet viewing */

@media screen and (min-width: 480px){
    .tabletViewWidthBigCard{ 
        width: calc(( 100% / 3 ) * 2  - 2rem );
    }
    .tabletViewRowWrap{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .tabletViewCard{
        width: calc(( 100% / 3 ) - 2rem);
    }
    .tabletViewTextAlign {
        text-align: left;
    }
    .tabletViewRow {
        flex-direction: row;
    }
    .tabletWidth50 {
        width: calc(50% - 2rem);
    }
    .tabletWidth30 {
        width: 30%;
    }
    .tabletWidth70 {
        width: 70%;
    }

}

/* desktop viewing */

@media screen and (min-width: 860px){
    .mainBox{ max-width: 1200px;
    }
    .margin0Auto {
        margin: 0 auto;
    }
    .pcViewPaddinX0 {
        padding: 2rem 0;
    }
    .pcViewWidth50 {
        width: 50%;
    }
    .pcWidth30{
        width: calc(100% / 3 - 2rem);
    }
    .smallBox {
        max-width: 600px;
    }
    .pcRow {
        flex-direction: row;
    }
}
